.vs/
*.dll
*.pdb
*.suo
*.cache
*.user
*.exe
*.csproj
*.baml
*.txt
*.resources
*.lref
*.wav
*.m4a
*.mp3
*.png
*.dat
packages/
Lab9/obj/
Lab9/Properties/
Lab9/bin/
Lab9.sln
Lab9.Services/obj/
Lab9.Services/Properties/
Lab9.Services/bin/
Lab9.Services.sln
Lab9.Data/obj/
Lab9.Data/Properties/
Lab9.Data/bin/
Lab9.Data.sln